.vscode
*.txt
*.swp
*.sqlite3*
*.db
*.toml
tags
.gitmodules
coverage.out
issues/
vendor/
log/
results
!setup/docker/*
.DS_Store
dist/
*.exe
.idea
vuls.*
vuls
!cmd/vuls
/future-vuls
/trivy-to-vuls
snmp2cpe
!snmp2cpe/
