name: Build

on:
  pull_request:

permissions: 
  contents: read  
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@85e6279cec87321a52edac9c87bce653a07cf6c2
      - name: Set up Go 1.x
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c
        with:
          go-version-file: go.mod
      - name: build
        run: make build
      - name: build-scanner
        run: make build-scanner
      - name: build-trivy-to-vuls
        run: make build-trivy-to-vuls
      - name: build-future-vuls
        run: make build-future-vuls
      - name: build-snmp2cpe
        run: make build-snmp2cpe
