name: Test

on: [pull_request]

permissions: 
  contents: read  
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: Check out code into the Go module directory
      uses: actions/checkout@85e6279cec87321a52edac9c87bce653a07cf6c2
    - name: Set up Go 1.x
      uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c
      with:
        go-version-file: go.mod
    - name: Test
      run: make test
